<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script src="js/jquery-2.1.4.min.js"></script>
    <script type="module">

        import { GLOBAL } from './js/GLOBAL.js'

        getAllUsers();

        function getAllUsers() {
            $.ajax({
				url: GLOBAL.url + "/users",
				async: true,
				type: 'GET',
				dataType: 'json',
				success: function(users) {
                    users.forEach(user => {
						console.log(user);
					});
				},
				error: function(x, y, z) {
					alert("Error en la api: " + x + y + z);
				}
			});
        }
    </script>
</body>
</html>