:root {
    --main-color: #2b3c85f3;
    --second-color: white;
    --t-color: rgb(173, 173, 173);
}
body{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.user-name, .title{
    color: var(--main-color);
}

.cost{
    font-weight: bold;
    color: green;
}

.home{
    background-color: white; 
    margin: 25px 0px;
    box-shadow: 0px 0px 5px 0px grey;
}

.card.col-3 {
    margin-left: 5px;
}

.progress-bar {
    background-color: #3a52c0f3 !important;
}

.row .card.p-0 { 
    width: 16rem; 
    margin-right: 20px; 
    margin-left: 20px;
}

.home a.a-course {
    padding: 0px !important;
    margin: 0px !important;
    width: auto !important;
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px) {
    .text-welcome {
        text-align: center;
        padding: 20px;
    }

    .card.p-0 { 
        margin-top: 10px;
        width: 10rem;
    }
}